workflows/netguard_n8n_workflow.json
{
  "name": "NetGuard AI Incident Response",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "d3fbf20f-c341-40c5-a0bd-f7bceef9a972",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/detect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"run_detection\": true\n}",
        "options": {}
      },
      "id": "62a1db35-87bf-4df7-bda7-62bc6ce9da50",
      "name": "Call /detect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4fdc5476-7bff-4cbb-9074-54fbeb4d6c9a",
              "leftValue": "={{ $json.flagged_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df0d7d95-9bd3-47b1-9ed1-9ad8e4051fbb",
      "name": "Any Incidents?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7d7fdde-5a9a-42be-a1ee-e37cd9703325",
              "name": "slack_message",
              "type": "string",
              "value": "=🚨 NetGuard Alert\nIncidents Detected: {{ $json.flagged_count }}\n─────────────────\n{{ $json.incidents.map(i => `🔴 Score: ${Math.round(i.anomaly_score)}/100 | Port ${i.port} | ${i.src_ip} → ${i.dst_ip}\\nType: ${i.matched_incident}\\nAction: ${i.remediation}`).join('\\n\\n') }}\n─────────────────\n⏱ Detected at: {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a917e31f-093a-4d3e-9850-9917f1ce335f",
      "name": "Format Slack Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#security-alerts",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "9804e883-f515-4d9e-a969-d47922d505db",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1220,
        200
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call /detect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /detect": {
      "main": [
        [
          {
            "node": "Any Incidents?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Incidents?": {
      "main": [
        [
          {
            "node": "Format Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Slack Alert": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-06T00:00:00.000Z",
  "versionId": "d661ff2a-5037-4ff1-b795-ad6d48e4fcec"
}
